.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    left: 100px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 400px;
    left: 150px;
  }
  
  .baloon {
    left: 350px;
    top: 250px;
    position: absolute;
    z-index: 4;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 5;
    top: 290px;
    left: 370px;
  }
  
  .bowser {
    width: 200px;
    position:absolute;
    z-index: 3;
    top: 400px;
    left: 650px;
  }