.img {
    display: block;
    margin: auto;
    width: 80%; /* Adjust the width as needed */
}
h1 {
    margin: 0 50%;
}
.Maplestory {
    color: blue;
}
.paragrafos {
    background-color: rgb(240, 240, 240);
    width: 80%;
    height: 100px;
    overflow: auto;
    margin: auto;
}